%%-*- mode: erlang -*-

{deps, [
        {webmachine, "1.*", {git, "git://github.com/miranetworks/webmachine", "HEAD"}},
        {oauth, ".*", {git, "git://github.com/tim/erlang-oauth", "HEAD"}}
       ]}.

{require_otp_vsn, "R16|17"}.

{cover_enabled, true}.

{erl_opts, [
    %% Consider compiler warnings as errors
    warnings_as_errors
]}.

{eunit_opts, [verbose]}.
